body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .7rem 0;
  background-color: #1e1d1d;
  color: #fff;
  font-size: 1.8rem;
  font-family: 'Popins' sans-serif;
  align-items: center;
}

h1 .highlight {
  color: #67078f;
}

h2 {
  font-family: 'Popins', sans-serif;
  font-size: 1.5rem;
}

.App {
  height: 100%;
  padding: 0% 17% 0% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}